<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>报表</title>

	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/fonts/line-icons.css">
	<link href="/static/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
	<link href="/static/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
	<link href="/static/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<link rel="stylesheet" type="text/css" href="/static/css/responsive.css">

</head>
<body>
	<div class="app header-default side-nav-dark">
		<div class="layout">
			<!--顶部栏-->
			<div th:replace="~{/topbar::topbar}">
			</div>
			<!--侧边栏-->
			<div th:replace="~{/sidebar::sidebar}">
			</div>
			<!--主体部分-->
			<div class="page-container">

				<div class="main-content">
					<div class="container-fluid">
    					<!--左下角上方标题-->
    					<div class="breadcrumb-wrapper row">
    						<div class="col-12 col-lg-3 col-md-6">
    							<h4 class="page-title">科研报表汇总</h4>
    						</div>
    							<!--
    							<div class="col-12 col-lg-9 col-md-6">
    								<ol class="breadcrumb float-right">
    									<li><a href="#">Tables</a></li>
    									<li class="active"> / Data Table</li>
    								</ol>
    							</div>
    							-->
    					</div>
    				</div>

				    <div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header border-bottom">
									<h4 class="card-title">科研报表</h4>
								</div>
								<div class="card-body">
									<p class="text-muted m-b-30">The Buttons extension for DataTables
										provides a common set of options, API methods and styling to display
										buttons on a page that will interact with a DataTable. The core library
										provides the based framework upon which plug-ins can built.
									</p>
									<!--表格table模板-->
									<div class="table-responsive">
										<table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0" width="100%">
											<tbody>
												<tr>
													<th rowspan="4">科研人员</th>
													<td>1</td>
													<td>各单位科研人员职称/学历/学位分析表</td>
													<td>按单位对人员的职称、学历、学位统计分析</td>
													<td>
														<div class="btn-group" role="group">
															<button id="checkDegreeAnalysisTable" class="btn btn-secondary" type="button">
																查看
															</button>
															<button id="editDegreeAnalysisTable" class="btn btn-secondary" type="button">
																导出
															</button>
															<button id="deleteDegreeAnalysisTable" class="btn btn-secondary" type="button">
																删除
															</button>
														</div>
													</td>
												</tr>
												<tr>
													<td>2</td>
													<td>各单位科研人员年龄分布分析表</td>
													<td>按单位对人员的年龄段分布情况统计分析</td>
													<td>
														<div class="btn-group" role="group">
															<button id="checkAgeAnalysisTable" class="btn btn-secondary" type="button">
																查看
															</button>
															<button id="editAgeAnalysisTable" class="btn btn-secondary" type="button">
																导出
															</button>
															<button id="deleteAgeAnalysisTable" class="btn btn-secondary" type="button">
																删除
															</button>
														</div>
													</td>
												</tr>
												<tr>
													<td>3</td>
													<td>科研人员职称/学历/学位分析表[按学科]</td>
													<td>按学科分类对人员的职称、学历、学位统计分析</td>
													<td>
														<div class="btn-group" role="group">
															<button id="checkAnalysisTableBySubject" class="btn btn-secondary" type="button">
																查看
															</button>
															<button id="editDegreeAnalysisTableBySubject" class="btn btn-secondary" type="button">
																导出
															</button>
															<button id="deleteDegreeAnalysisTableBySubject" class="btn btn-secondary" type="button">
																删除
															</button>
														</div>
													</td>
												</tr>
												<tr>
													<td>4</td>
													<td>科研人员年龄分布分析表[按学科]</td>
													<td>按学科分类对人员的年龄段分布人数统计</td>
													<td>
														<div class="btn-group" role="group">
															<button id="checkAgeAnalysisTableBySubject" class="btn btn-secondary" type="button">
																查看
															</button>
															<button id="editAgeAnalysisTableBySubject" class="btn btn-secondary" type="button">
																导出
															</button>
															<button id="deleteAgeAnalysisTableBySubject" class="btn btn-secondary" type="button">
																删除
															</button>
														</div>
													</td>
												</tr>
												<tr>
													<th rowspan="4">科研项目</th>
													<td>5</td>
													<td>课题信息一览表</td>
													<td>所有课题信息清单</td>
													<td>
														<div class="btn-group" role="group">
															<button id="checkSubjectInfo" class="btn btn-secondary" type="button">
																查看
															</button>
															<button id="editSubjectInfo" class="btn btn-secondary" type="button">
																导出
															</button>
															<button id="deleteSubjectInfo" class="btn btn-secondary" type="button">
																删除
															</button>
														</div>
													</td>
												</tr>
												<tr>
													<td>6</td>
													<td>合同信息一览表</td>
													<td>合同信息一览表</td>
													<td>
														<div class="btn-group" role="group">
															<button id="checkContractInfo" class="btn btn-secondary" type="button">
																<a href="/sr/contract">查看</a>
															</button>
															<button id="editContractInfo" class="btn btn-secondary" type="button">
																<a href="/sr/contract">导出</a>
															</button>
															<button id="deleteContractInfo" class="btn btn-secondary" type="button">
																删除
															</button>
														</div>
													</td>
												</tr>
												<tr>
													<td>7</td>
													<td>不同来源纵向课题信息一览表</td>
													<td>按项目分类进行列表</td>
													<td>
														<div class="btn-group" role="group">
															<button id="checkDifferEndwiseSubjectInfo" class="btn btn-secondary" type="button">
																查看
															</button>
															<button id="editDifferEndwiseSubjectInfo" class="btn btn-secondary" type="button">
																导出
															</button>
															<button id="deleteDifferEndwiseSubjectInfo" class="btn btn-secondary" type="button">
																删除
															</button>
														</div>
													</td>
												</tr>
												<tr>
													<td>8</td>
													<td>分年度纵向课题信息一览表	</td>
													<td>分年度纵向课题信息一览表</td>
													<td>
														<div class="btn-group" role="group">
															<button id="checkAnnualEndwiseSubjectInfo" class="btn btn-secondary" type="button">
																查看
															</button>
															<button id="editAnnualEndwiseSubjectInfo" class="btn btn-secondary" type="button">
																导出
															</button>
															<button id="deleteAnnualEndwiseSubjectInfo" class="btn btn-secondary" type="button">
																删除
															</button>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

					<footer class="content-footer">
						<div th:replace="~{/footer::footer}"></div>
					</footer>

				</div>

			</div>
		</div>
	</div>
	<script src="/static/js/jquery-min.js"></script>
	<script src="/static/js/popper.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/scripts.js"></script>
	<script src="/static/js/jquery.app.js"></script>
	<script src="/static/js/main.js"></script>

	<script src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
	<script src="/static/plugins/datatables/dataTables.bootstrap4.min.js"></script>

	<script src="/static/plugins/datatables/dataTables.buttons.min.js"></script>
	<script src="/static/plugins/datatables/buttons.bootstrap4.min.js"></script>
	<script src="/static/plugins/datatables/jszip.min.js"></script>
	<script src="/static/plugins/datatables/pdfmake.min.js"></script>
	<script src="/static/plugins/datatables/vfs_fonts.js"></script>
	<script src="/static/plugins/datatables/buttons.html5.min.js"></script>
	<script src="/static/plugins/datatables/buttons.print.min.js"></script>
	<script src="/static/plugins/datatables/buttons.colVis.min.js"></script>

	<script src="/static/plugins/datatables/dataTables.responsive.min.js"></script>
	<script src="/static/plugins/datatables/responsive.bootstrap4.min.js"></script>

	<script src="/static/js/datatables.init.js"></script>
	
	<script type="text/javascript">
	// $('header navbar').load('/static/head.html',function(responseTxt,statusTxt,xhr){
     //        console.log('responseTxt,statusTxt,xhr');
	// 		}
	// )
	</script>
	</body>
	</html>