<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>报表</title>

	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/fonts/line-icons.css">
	<link href="/static/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
	<link href="/static/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
	<link href="/static/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<link rel="stylesheet" type="text/css" href="/static/css/responsive.css">

</head>
<body>
	<div class="app header-default side-nav-dark">
		<div class="layout">
			<!--顶部栏-->
			<div th:replace="~{/topbar::topbar}">
			</div>
			<!--侧边栏-->
			<div th:replace="~{/sidebar::sidebar}">
			</div>
			<!--主体部分-->
			<div class="page-container">

				<div class="main-content">
					<div class="container-fluid">
						<div class="breadcrumb-wrapper row">
							<div class="col-12 col-lg-3 col-md-6">
								<h4 class="page-title">科技统计汇总表</h4>
							</div>
						    <button id="sta_basic" type="submit" class="btn btn-primary" >
                                生成年度汇总表
                            </button>
						</div>
					</div>

					<div class="container-fluid">
						<div class="row">
							<div class="col-12">
								<div class="card">
									<div class="card-header border-bottom">
										<h4 class="card-title">科研统计一览表</h4>
									</div>
									<div class="card-body">
										<p class="text-muted m-b-30">DataTables has most features enabled by
											default, so all you need to do to use it with your own tables is to call
											the construction function: <code>$().DataTable();</code>.
										</p>
										<div class="table-responsive">
											<table id="datatable" class="table table-bordered">
												<thead>
													<tr>
														<th>表编号</th>
														<th>表名</th>
														<th>生成状态</th>
														<th>年度</th>
														<th>操作</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="sci:${list}">
														<td th:text="${sci.getId()}">1</td>
														<td th:text="${sci.getName()}">System Architect</td>
														<td>是</td>
														<td th:text="${sci.getDateFormal()}">2011/04/25</td>
														<td>
                                                            <div class="btn-group" role="group">
                                                                <a class="btn btn-secondary" type="button" th:href="${'/sr/sciInfo?id='+sci.id}">
                                                                    查看
                                                                </a>
                                                                <button id="export1" class="btn btn-secondary" type="button">
                                                                    导出
                                                                </button>
                                                            </div>
                                                        </td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


					<footer class="content-footer">
						<div th:replace="~{/footer::footer}"></div>
					</footer>
				</div>
			</div>

			</div>
		</div>
	</div>
	<script src="/static/js/jquery-min.js"></script>
	<script src="/static/js/popper.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/scripts.js"></script>
	<script src="/static/js/jquery.app.js"></script>
	<script src="/static/js/main.js"></script>

	<script src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
	<script src="/static/plugins/datatables/dataTables.bootstrap4.min.js"></script>

	<script src="/static/plugins/datatables/dataTables.buttons.min.js"></script>
	<script src="/static/plugins/datatables/buttons.bootstrap4.min.js"></script>
	<script src="/static/plugins/datatables/jszip.min.js"></script>
	<script src="/static/plugins/datatables/pdfmake.min.js"></script>
	<script src="/static/plugins/datatables/vfs_fonts.js"></script>
	<script src="/static/plugins/datatables/buttons.html5.min.js"></script>
	<script src="/static/plugins/datatables/buttons.print.min.js"></script>
	<script src="/static/plugins/datatables/buttons.colVis.min.js"></script>

	<script src="/static/plugins/datatables/dataTables.responsive.min.js"></script>
	<script src="/static/plugins/datatables/responsive.bootstrap4.min.js"></script>

	<script src="/static/js/datatables.init.js"></script>

	<script type="text/javascript">
	// $('header navbar').load('/static/head.html',function(responseTxt,statusTxt,xhr){
     //        console.log('responseTxt,statusTxt,xhr');
	// 		}
	// )
	</script>
	</body>
	</html>