<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.research.dao.CountYearMapper" >
  <resultMap id="BaseResultMap" type="com.research.model.Vo.CountYear" >
    <result column="pNumy" property="pnumy" jdbcType="BIGINT" />
    <result column="omNumy" property="omnumy" jdbcType="DECIMAL" />
    <result column="cNumy" property="cnumy" jdbcType="BIGINT" />
    <result column="imNumy" property="imnumy" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pNumy, omNumy, cNumy, imNumy
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.research.model.Vo.CountYearExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from count_year
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.research.model.Vo.CountYearExample" >
    delete from count_year
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.research.model.Vo.CountYear" >
    insert into count_year (pNumy, omNumy, cNumy, 
      imNumy)
    values (#{pnumy,jdbcType=BIGINT}, #{omnumy,jdbcType=DECIMAL}, #{cnumy,jdbcType=BIGINT}, 
      #{imnumy,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.research.model.Vo.CountYear" >
    insert into count_year
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pnumy != null" >
        pNumy,
      </if>
      <if test="omnumy != null" >
        omNumy,
      </if>
      <if test="cnumy != null" >
        cNumy,
      </if>
      <if test="imnumy != null" >
        imNumy,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pnumy != null" >
        #{pnumy,jdbcType=BIGINT},
      </if>
      <if test="omnumy != null" >
        #{omnumy,jdbcType=DECIMAL},
      </if>
      <if test="cnumy != null" >
        #{cnumy,jdbcType=BIGINT},
      </if>
      <if test="imnumy != null" >
        #{imnumy,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.research.model.Vo.CountYearExample" resultType="java.lang.Integer" >
    select count(*) from count_year
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update count_year
    <set >
      <if test="record.pnumy != null" >
        pNumy = #{record.pnumy,jdbcType=BIGINT},
      </if>
      <if test="record.omnumy != null" >
        omNumy = #{record.omnumy,jdbcType=DECIMAL},
      </if>
      <if test="record.cnumy != null" >
        cNumy = #{record.cnumy,jdbcType=BIGINT},
      </if>
      <if test="record.imnumy != null" >
        imNumy = #{record.imnumy,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update count_year
    set pNumy = #{record.pnumy,jdbcType=BIGINT},
      omNumy = #{record.omnumy,jdbcType=DECIMAL},
      cNumy = #{record.cnumy,jdbcType=BIGINT},
      imNumy = #{record.imnumy,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>