<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>到款通知单</title>

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/static/fonts/line-icons.css">

    <link rel="stylesheet" type="text/css" href="/static/css/main.css">

    <link rel="stylesheet" type="text/css" href="/static/css/responsive.css">
    <script language="javascript">
        function preview(oper) {
            if (oper < 10) {
                bdhtml = window.document.body.innerHTML;//获取当前页的html代码
                sprnstr = "<!--startprint" + oper + "-->";//设置打印开始区域
                eprnstr = "<!--endprint" + oper + "-->";//设置打印结束区域
                prnhtml = bdhtml.substring(bdhtml.indexOf(sprnstr) + 18); //从开始代码向后取html
                prnhtml = prnhtml.substring(0, prnhtml.indexOf(eprnstr));//从结束代码向前取html
                window.document.body.innerHTML = prnhtml;
                window.print();
                window.document.body.innerHTML = bdhtml;
            } else {
                window.print();
            }
        }
    </script>

</head>
<body>
<div class="app header-default side-nav-dark">
    <div class="layout">
        <!--顶部栏-->
        <div th:replace="~{/topbar::topbar}">
        </div>
        <!--侧边栏-->
        <div th:replace="~{/sidebar::sidebar}">
        </div>
        <!--主体部分-->
        <div class="page-container">

            <div class="main-content">
                <div align="right">
                    <input type=button name='button_export' title='打印' onclick=preview(1) value=打印>
                </div>
                <!--startprint1-->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <table height="50" width="900" align="center">
                                <tr height="30">
                                    <td colspan="2" align="center"><font size="5">到款通知单（科研处）</font></td>
                                </tr>
                            </table>
                            <table height="50" width="900" align="center">
                                <tr>
                                    <td>类别：</td>
                                    <td th:text="${income.lever}">国家其他部委单位</td>
                                    <td>凭单号：</td>
                                    <td th:text="${number}">2019-0001</td>
                                </tr>
                            </table>
                            <table border="1" align="center">
                                <tbody>
                                <tr height="30">
                                    <td width="100" align="right">项目编号</td>
                                    <td width="200" align="left" colspan="3" th:text="${income.number}">123456</td>
                                    <td width="100" align="right">批款单位</td>
                                    <td width="200" align="left" colspan="3" th:text="${income.paymentUnit}">1</td>
                                </tr>
                                <tr height="30">
                                    <td width="100" align="right">项目名称</td>
                                    <td width="200" align="left" colspan="8" th:text="${income.name}">高校创新科研服务平台</td>
                                </tr>
                                <tr height="30">
                                    <td width="200" align="right">立项单位</td>
                                    <td align="left" colspan="1" th:text="${income.institution}">数学与信息学院</td>
                                    <td width="200" align="right">项目负责人</td>
                                    <td align="left" colspan="1" th:text="${income.leader}">张三</td>
                                    <td width="100" align="right">启日</td>
                                    <td align="left" colspan="1" th:text="${income.startTime}">2019-07-17</td>
                                    <td width="100" align="right">止日</td>
                                    <td align="left" colspan="1" th:text="${income.endTime}">2019-08-20</td>
                                </tr>
                                <tr height="30">
                                    <td width="100" align="right">合同金额</td>
                                    <td align="left" colspan="1" th:text="${income.budget}">25.0万元</td>
                                    <td width="100" align="right">合同编号</td>
                                    <td align="left" colspan="1" th:text="${income.number}">20190724</td>
                                    <td width="100" align="right">到款金额</td>
                                    <td align="left" colspan="1" th:text="${income.money}">2.0万元</td>
                                    <td align="left" rowspan="2" colspan="2">备注</td>
                                </tr>
                                <tr height="30">
                                    <td width="100" align="right">经办人</td>
                                    <td width="200" align="left" colspan="2" th:text="${income.operator}">刘六</td>
                                    <td width="100" align="right">到款日期</td>
                                    <td width="200" align="left" colspan="2" th:text="${income.date}">2019-07-24</td>
                                </tr>
                                </tbody>
                            </table>
                            <table height="50" width="900" align="center">
                                <tr>
                                    <td>办理人：</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>打印日期：</td>
                                    <td th:text="${date}">2019-07-23</td>
                                </tr>
                            </table>
                            <table height="50" width="900" align="center">
                                <tr height="30">
                                    <td colspan="2" align="center"><font size="5">到款通知单（财务处）</font></td>
                                </tr>
                            </table>
                            <table height="50" width="900" align="center">
                                <tr>
                                    <td>类别：</td>
                                    <td th:text="${income.lever}">国家其他部委单位</td>
                                    <td>凭单号：</td>
                                    <td th:text="${number}">2019-0001</td>
                                </tr>
                            </table>
                            <table border="1" align="center">
                                <tbody>
                                <tr height="30">
                                    <td width="100" align="right">项目编号</td>
                                    <td width="200" align="left" colspan="3" th:text="${income.number}">123456</td>
                                    <td width="100" align="right">批款单位</td>
                                    <td width="200" align="left" colspan="3" th:text="${income.paymentUnit}">1</td>
                                </tr>
                                <tr height="30">
                                    <td width="100" align="right">项目名称</td>
                                    <td width="200" align="left" colspan="8" th:text="${income.name}">高校创新科研服务平台</td>
                                </tr>
                                <tr height="30">
                                    <td width="200" align="right">立项单位</td>
                                    <td align="left" colspan="1" th:text="${income.institution}">数学与信息学院</td>
                                    <td width="200" align="right">项目负责人</td>
                                    <td align="left" colspan="1" th:text="${income.leader}">张三</td>
                                    <td width="100" align="right">启日</td>
                                    <td align="left" colspan="1" th:text="${income.startTime}">2019-07-17</td>
                                    <td width="100" align="right">止日</td>
                                    <td align="left" colspan="1" th:text="${income.endTime}">2019-08-20</td>
                                </tr>
                                <tr height="30">
                                    <td width="100" align="right">合同金额</td>
                                    <td align="left" colspan="1" th:text="${income.budget}">25.0万元</td>
                                    <td width="100" align="right">合同编号</td>
                                    <td align="left" colspan="1" th:text="${income.number}">20190724</td>
                                    <td width="100" align="right">到款金额</td>
                                    <td align="left" colspan="1" th:text="${income.money}">2.0万元</td>
                                    <td align="left" rowspan="2" colspan="2">备注</td>
                                </tr>
                                <tr height="30">
                                    <td width="100" align="right">经办人</td>
                                    <td width="200" align="left" colspan="2" th:text="${income.operator}">刘六</td>
                                    <td width="100" align="right">到款日期</td>
                                    <td width="200" align="left" colspan="2" th:text="${income.date}">2019-07-24</td>
                                </tr>
                                </tbody>
                            </table>
                            <table height="50" width="900" align="center">
                                <tr>
                                    <td>办理人：</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>打印日期：</td>
                                    <td th:text="${date}">2019-07-23</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <!--endprint1-->
            </div>

            <footer class="content-footer">
                <div th:replace="~{/footer::footer}"></div>
            </footer>
        </div>
    </div>
</div>
</div>


<script src="/static/js/jquery-min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.app.js"></script>
<script src="/static/js/main.js"></script>
</body>


</html>